@import "variables";
@import "vendor/bootstrap/bootstrap/variables";

.blank-header {
  padding-bottom: 120px;
}

.landing {
  background-color: $color-primary;
  padding-bottom: 80px;
  padding-top: 80px;
  color: $color-white;

  h1 {
    margin-bottom: 20px;
  }

  @media(max-width: $screen-xs-max) {
    padding-bottom: 40px;
    padding-top: 40px;
  }
}

.region-links {
  padding: 20px;
  transform: translateY(-50px);

  a {
    padding: 10px 30px;
  }

  h4 {

    a {
      font-weight: inherit;
    }

    &:not(:last-child) {
      border-right: 1px solid $color-gray-extra-light;

      @media all and (max-width: $screen-sm-min) {
        border-right: 0;
      }

    }

  }

  @media all and (max-width: $screen-sm-min) {
    flex-direction: column;
  }

}

.speakers {
  padding-bottom: 40px;
}

.speaker-list > .row {
  margin-bottom: 20px;
}

.region-title {
  margin-bottom: 40px;

  &:not(:first-child) {
    padding-top: 80px;

    @media all and (max-width: $screen-sm-min) {
      padding-top: 50px;
    }

  }
}

.speaker-container {
  margin-bottom: 14px;

  .speaker-header {
    margin-bottom: 10px;

    h3 {
      margin-bottom: 0;
      font-weight: 600;
    }
  }

  .speaker-presentations {
    margin-top: 20px;
  }

  ul {
    padding-left: 20px;
    text-align: left;

    li {
      margin-bottom: .5em;
    }
  }

  p {
    display: block;
    margin: 3px 0;
  }
}

.contact-us {
  background-color: $body-bg;
  padding-top: 40px;
  padding-bottom: 40px;
}

@media(max-width: $screen-xs-max) {
  .speaker-list {
    .row {
      margin-bottom: 0;
    }

    .col-md-4 {
      margin-bottom: 15px;
    }
  }
}
